package {{package}};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.ResponseBody;

@Controller
@RequestMapping("/{{name}}")
public class {{name|to_upper_camel_case}}Controller {

	@GetMapping()
	@ResponseBody
	public String home() {
		return "クソみたいな仕事による、クソみたいな仕事のため、クソみたいな仕事";
	}

	@GetMapping("/register")
	public String register() {
		return "{{name}}Register";
	}

	@GetMapping("/edit")
	public String edit() {
		return "{{name}}Edit";
	}

	@GetMapping("/list")
	public String list() {
		return "{{name}}List";
	}
}
