package {{package}};

import java.time.LocalDate;

import lombok.Data;

@Data
class {{table.name | to_upper_camel_case}}DetailForm {
{% for column in table.columnList %}
    private {{column.langType}} {{column.langName}};
{% endfor %}
}
