package {{package}};

import org.springframework.data.jpa.repository.JpaRepository;

public interface {{table.name | to_upper_camel_case}}Repository extends JpaRepository<{{table.name | to_upper_camel_case}}, Integer>{
}