package {{package}};

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import lombok.Data;

@Entity
@Data
public class {{table.name | to_upper_camel_case}}SearchEntity {

    @Id
    @Column(name = "{{table.name | to_upper_snake_case}}_ID")
    private Integer {{table.name | to_lower_camel_case}}Id;

    @Column(name = "{{table.name | to_upper_snake_case}}_NAME")
    private String {{table.name | to_lower_camel_case}}Name;
}

