package {{package}};

import java.util.HashMap;
import java.util.Map;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import lombok.Data;

// 検索パラメータ共通クラス
abstract class SearchParams {// TODO: このクラスは共通クラスとすること

    public Map<String, String> toMap() {
        Map<String, String> map = new HashMap<String, String>();
        return map;
    }

    public String toLogString() {
        return toMap().toString();
    }
}

public class {{table.name | to_upper_camel_case}}SearchParams extends SearchParams {

    private Integer {{table.name | to_lower_camel_case}}Id;

    private String {{table.name | to_lower_camel_case}}Name;
}

