package {{package}};

import java.util.ArrayList;
import java.util.List;

import org.springframework.stereotype.Component;
import org.springframework.transaction.annotation.Propagation;
import org.springframework.transaction.annotation.Transactional;

@Component
public class {{table.name | to_upper_camel_case}}SearchDao {

    @Transactional(propagation = Propagation.REQUIRED, rollbackFor = Throwable.class)
    public List<{{table.name | to_upper_camel_case}}SearchEntity> search({{table.name | to_upper_camel_case}}SearchParams params){
        List<{{table.name | to_upper_camel_case}}SearchEntity> entityList = new ArrayList<>();
        return entityList;
    }
}

