package {{package}};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
public class {{table.name | to_upper_camel_case}}Service {

    // @Autowired
    // private {{table.name | to_upper_camel_case}}Repository {{table.name | to_lower_camel_case}}Repository;

    public void test() {
        // {{table.name | to_lower_camel_case}}Repository.count();
        return;
    }

    // public void register({{table.name | to_upper_camel_case}} {{table.name | to_lower_camel_case}}) {
    //     {{table.name | to_lower_camel_case}}Repository.save({{table.name | to_lower_camel_case}});
    //     return;
    // }

    // public void update({{table.name | to_upper_camel_case}} {{table.name | to_lower_camel_case}}) {
    //     {{table.name | to_lower_camel_case}}Repository.save({{table.name | to_lower_camel_case}});
    //     return;
    // }

    // public void delete(Integer id) {
    //     {{table.name | to_lower_camel_case}}Repository.deleteById(id);
    // }
}
