package {{package}};

import org.junit.jupiter.api.Test;
import static org.junit.jupiter.api.Assertions.*;

class {{use_case.function_name | to_upper_camel_case}}ServiceTest {
    @Test void {{ use_case.function_name }}() {
        final {{use_case.function_name | to_upper_camel_case}}Command command = new {{use_case.function_name | to_upper_camel_case}}Command();
        final {{use_case.function_name | to_upper_camel_case}}Service service = new {{use_case.function_name | to_upper_camel_case}}Service();
    }
}