package {{package}};

class {{use_case.function_name | to_upper_camel_case}}Service {

    public void {{ use_case.function_name }}Service({{use_case.function_name | to_upper_camel_case}}Command command) {
    }
}